.vscode
.well-known
cgi-bin
sftp.json
tests
vendor
writable
.env
phpunit.xml.dist
readme_for_github.html
sftp.txt
spark
app/helpers/bot_helper.php
public/errors
public/error_log
public/bot_logs.txt
public/assets/img






